{
    email k.j.wilcox@gmail.com
}

kwil.co {
    redir https://www.kwil.co
}

www.kwil.co {
    root * /opt/www
    file_server
    encode gzip
}

konosuba.kwil.co {
    reverse_proxy localhost:8061
}

files.kwil.co {
    root * /opt/webserver-files
    file_server browse
    encode gzip
}

#sd.kwil.co {
#    reverse_proxy 10.0.0.6:7860
#    basicauth {
#        james {{ james_pw_hash }}
#    }
#}


# legacy domain redirects

japan.kwil.co {
    redir https://www.kwil.co/japan/
}

mushrooms.kwil.co {
    redir https://www.kwil.co/posts/mushrooms/
}
