#!/bin/bash

set -o errexit
set -o nounset

WEBHOOK_URL="{{ fio_webhook_url }}"
DOMAIN="http://localhost:8061"

FINISH_DATE=$(date +%s -d '05/01/2025')
NOW=$(date +%s)

if [[ $NOW -gt $FINISH_DATE ]]; then
  SEASON=$(( RANDOM % 3 ))
else
  SEASON=0
fi

if [[ $SEASON == 1 ]]; then
  EPISODE=$(( ( RANDOM % 13 )  + 1 ))
elif [[ $SEASON == 2 ]]; then
  EPISODE=$(( ( RANDOM % 12 )  + 1 ))
else
  EPISODE=1
fi

EPISODE_GROUP="priconne_$SEASON"

DURATION=$(curl "$DOMAIN/konosuba-episode-duration?episode_group=$EPISODE_GROUP&episode_number=$EPISODE" | jq '.duration | floor')

SECOND=$(( ( RANDOM % $DURATION ) + 0 ))
DECIMAL=$(( ( RANDOM % 10 ) + 0 ))
TIMESTAMP=$SECOND.$DECIMAL

IMAGE_URL="$DOMAIN/konosuba-screenshot?episode_group=$EPISODE_GROUP&episode_number=$EPISODE&timestamp=$TIMESTAMP"

echo "$(date) - $IMAGE_URL"

IMAGE_FILE=/tmp/priconne.png
rm -f "$IMAGE_FILE"

# Download the image so we can post it and make Discord host it
curl --fail "$IMAGE_URL" >$IMAGE_FILE

if [[ $SEASON == 0 ]]; then
  DESCRIPTION="Princess Connect! OVA Guidance of the First Flower -Fiore Storia- $TIMESTAMP seconds"
else
  DESCRIPTION="Princess Connect Re: Dive - Season $SEASON Episode $EPISODE at $TIMESTAMP seconds"
fi

# Define the boundary for the multipart form-data. Not sure if this is necessary.
BOUNDARY=$(date +%s | base64 | head -c 32)

# Use curl to post the image to the Discord webhook
curl -X POST \
  -H "Content-Type: multipart/form-data; boundary=$BOUNDARY" \
  -F "payload_json={\"embeds\":[{\"description\":\"$DESCRIPTION\", \"image\":{\"url\":\"attachment://priconne.png\"}}]}" \
  -F "files[0]=@$IMAGE_FILE;type=image/png;filename=priconne.png" \
  $WEBHOOK_URL

rm -f "$IMAGE_FILE"
