#!/bin/bash

set -o errexit
set -o nounset

WEBHOOK_URL="{{ eris_webhook_url }}"
#DOMAIN="https://konosuba.kwil.co"
DOMAIN="http://localhost:8061"


#MOVIE=$(( ( RANDOM % 10 ) ))
#MOVIE=1

#if [[ $MOVIE == 1 ]]; then
#    SEASON=3
#    EPISODE=1
#    MINUTE=$(( ( RANDOM % 90 )  + 0 ))
#else
#    SEASON=$(( ( RANDOM % 2 )  + 1 ))
#    EPISODE=$(( ( RANDOM % 11 )  + 1 ))
#    MINUTE=$(( ( RANDOM % 20 )  + 0 ))
#fi

FINISH_DATE=$(date +%s -d '06/30/2024')
NOW=$(date +%s)

if [[ $NOW -gt $FINISH_DATE ]]; then
    SEASON=$(( ( RANDOM % 4 ) ))
else
    SEASON=3
fi

if [[ $SEASON == 0 ]]; then
    EPISODE_GROUP="prequel"
    SEASON_NAME="Kono Subarashii Sekai ni Bakuen wo!"
else
    EPISODE_GROUP="season_$SEASON"
    SEASON_NAME="Kono Subarashii Sekai ni Shukufuku wo! $SEASON"
fi

NUM_EPISODES=$(curl "$DOMAIN/konosuba-episodes" | jq ".$EPISODE_GROUP")
EPISODE=$(( ( RANDOM % $NUM_EPISODES )  + 1 ))

DURATION=$(curl "$DOMAIN/konosuba-episode-duration?episode_group=${EPISODE_GROUP}&episode_number=$EPISODE" | jq '.duration | floor')

SECOND=$(( ( RANDOM % $DURATION ) + 0 ))
DECIMAL=$(( ( RANDOM % 10 ) + 0 ))
TIMESTAMP=$SECOND.$DECIMAL

IMAGE_URL="$DOMAIN/konosuba-screenshot?episode_group=${EPISODE_GROUP}&episode_number=$EPISODE&timestamp=$TIMESTAMP"

echo "$(date) - $IMAGE_URL"

IMAGE_FILE=/tmp/konosuba.png
rm -f "$IMAGE_FILE"
# Warm up the cache on the server so discord clients don't time out loading
curl --fail "$IMAGE_URL" >$IMAGE_FILE

DESCRIPTION="$SEASON_NAME - Episode $EPISODE at $TIMESTAMP seconds"

#curl \
#    --request POST \
#    --header "Content-Type: application/json" \
#    "$WEBHOOK_URL" \
#    --data "{\"embeds\":[{\"description\":\"$DESCRIPTION\", \"image\":{\"url\":\"$IMAGE_URL\"}}]}"


# Define the boundary for the multipart form-data. Not sure if this is necessary.
BOUNDARY=$(date +%s | base64 | head -c 32)

# Use curl to post the image to the Discord webhook
curl -X POST \
  -H "Content-Type: multipart/form-data; boundary=$BOUNDARY" \
  -F "payload_json={\"embeds\":[{\"description\":\"$DESCRIPTION\", \"image\":{\"url\":\"attachment://konosuba.png\"}}]}" \
  -F "files[0]=@$IMAGE_FILE;type=image/png;filename=konosuba.png" \
  $WEBHOOK_URL

rm -f "$IMAGE_FILE"
